/*
!/.gitignore
!/README.md
!/*.cmd

!/_USERPROFILE_

!/ChadQuake
/ChadQuake/*
!/ChadQuake/id1
/ChadQuake/id1/*
!/ChadQuake/id1/music
/ChadQuake/id1/music/*
!/ChadQuake/id1/autoexec.cfg

!/Darkplaces
/Darkplaces/*
!/Darkplaces/id1
/Darkplaces/id1/*
!/Darkplaces/id1/music
/Darkplaces/id1/music/*
!/Darkplaces/id1/autoexec.cfg
!/Darkplaces/id1/look1.cfg
!/Darkplaces/id1/look3.cfg
!/Darkplaces/quake15
/Darkplaces/quake15/*
!/Darkplaces/quake15/autoexec.cfg
!/Darkplaces/quake15/look1.cfg
!/Darkplaces/quake15/look3.cfg

!/FTE
/FTE/*
!/FTE/id1
/FTE/id1/*
!/FTE/id1/music
/FTE/id1/music/*
!/FTE/id1/autoexec.cfg

!/Ironwail
/Ironwail/*
!/Ironwail/id1
/Ironwail/id1/*
!/Ironwail/id1/music
/Ironwail/id1/music/*
!/Ironwail/id1/autoexec.cfg

!/JoeQuake
/JoeQuake/*
!/JoeQuake/id1
/JoeQuake/id1/*
!/JoeQuake/id1/music
/JoeQuake/id1/music/*
!/JoeQuake/id1/autoexec.cfg

!/QuakeSpasm
/QuakeSpasm/*
!/QuakeSpasm/id1
/QuakeSpasm/id1/*
!/QuakeSpasm/id1/music
/QuakeSpasm/id1/music/*
!/QuakeSpasm/id1/autoexec.cfg

!/QuakeSpasm-Spiked-Multiplayer
/QuakeSpasm-Spiked-Multiplayer/*
!/QuakeSpasm-Spiked-Multiplayer/id1
/QuakeSpasm-Spiked-Multiplayer/id1/*
!/QuakeSpasm-Spiked-Multiplayer/id1/music
/QuakeSpasm-Spiked-Multiplayer/id1/music/*
!/QuakeSpasm-Spiked-Multiplayer/id1/autoexec.cfg

!/QuakeSpasm-Spiked
/QuakeSpasm-Spiked/*
!/QuakeSpasm-Spiked/id1
/QuakeSpasm-Spiked/id1/*
!/QuakeSpasm-Spiked/id1/music
/QuakeSpasm-Spiked/id1/music/*
!/QuakeSpasm-Spiked/id1/autoexec.cfg

!/Tenebrae
/Tenebrae/*
!/Tenebrae/id1
/Tenebrae/id1/*
!/Tenebrae/id1/music
/Tenebrae/id1/music/*
!/Tenebrae/id1/autoexec.cfg

!/vkQuake
/vkQuake/*
!/vkQuake/id1
/vkQuake/id1/*
!/vkQuake/id1/music
/vkQuake/id1/music/*
!/vkQuake/id1/autoexec.cfg

!/Zircon
/Zircon/*
!/Zircon/id1
/Zircon/id1/*
!/Zircon/id1/music
/Zircon/id1/music/*
!/Zircon/id1/autoexec.cfg
!/Zircon/id1/look1.cfg
!/Zircon/id1/look3.cfg
!/Zircon/quake15
/Zircon/quake15/*
!/Zircon/quake15/autoexec.cfg
!/Zircon/quake15/look1.cfg
!/Zircon/quake15/look3.cfg
